h2 {
    color: orange;
}
hr {
    color: orange;
}
.footer  {
    text-align: center;
    
    
}
.intestazione {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.immagine {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background-color: gray;


    
}
.disegno {
    height: 300px;
    width: 300px;
}
.main {
    width: 70%;
    margin:0 auto;
}
