 label {
     color: rgb(2, 2, 115);
 }
 main {
     text-align: end;
     width: 21%;
     margin: auto;
     
 }
 .intestazione {
     text-align: center;
 }
 .zucca {
     height: 30%;
     width: 30%;
 }
 body {
     background-color:#FA6A23;
     
 }
h1 {
    color: rgb(2, 2, 115);
}
h2 {
    color: rgb(2, 2, 115);
}
footer {
    text-align: center;
}
p {
    color: rgb(2, 2, 115);
}